@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-green: #00aa6c !important;
  --Dark: #282e40;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar-light .navbar-brand {
  color: var(--primary-green);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-green);
}

.navbar-collapse {
  justify-content: flex-end;
}

.hero {
  min-height: 55vh;
  background: url("../images/bg1.jpg"),linear-gradient(rgba(40, 46, 64, 0.8),rgba(40, 46, 64, 0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  font-size: 1.1rem;
}

input[type="search"]:hover {
  border: 1px solid var(--primary-green);
}

input[type="search"]::placeholder {
  color: var(--primary-green);
}

h5 {
  color: var(--primary-green);
  font-weight: bold;
}

.card {
  border: none;
}
.card img {
  border-radius: 8px;
}

.checked {
  color: var(--primary-green);
}

h4,
.hname,
.description {
  color: var(--Dark);
}

.description {
  opacity: .8;
}

.location {
  font-size: 13px;
  color: var(--Dark);
  opacity: .8;
}

.footer {
  background-color: var(--Dark);
}