@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #282e40;
  --green: #00aa6c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 38px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
}